.left-toolbar {
    width: var(--left-toolbar-size);
    height: 100%;
    background-color: var(--bg-clr-2);
    border-right: 1px solid var(--border-clr-1);
    z-index: 110;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
    & > div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: .4rem;
        width: 100%;
    }
}

.left-toolbar .divider {
    height: 2px;
    width: 2rem;
    border-radius: 1ex;
    background-color: var(--border-clr-1);
}