/* fonts */
@font-face {
  font-family: DMSans;
  src: url(./assets/fonts/DMSans-Variable.ttf) format("truetype");
  font-display: swap;
}

/* root config */
:root {
  font-family: DMSans, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #fff;

  --bg-clr-1: #090909;
  --bg-clr-2: #1C1C1C;
  --bg-clr-3: #2D2D2D;
  --border-clr-1: #353535;
  --btn-clr-1: #0686FF;
  --btn-clr-2: #194274;
  --accent-1: #6c4cde;

  --fs-075: clamp(0.7rem, 0.65rem + 0.3vw, 0.75rem);
  --fs-100: clamp(0.9rem, 0.85rem + 0.4vw, 1rem);
  --fs-125: clamp(1.1rem, 1rem + 0.5vw, 1.25rem);
  --fs-130: clamp(1.15rem, 1.05rem + 0.5vw, 1.3rem);
  --fs-150: clamp(1.3rem, 1.15rem + 0.6vw, 1.5rem);
  --fs-200: clamp(1.5rem, 1.2rem + 1vw, 2rem);
  --fs-250: clamp(1.8rem, 1.4rem + 1.2vw, 2.5rem);
  --fs-300: clamp(2rem, 1.6rem + 1.5vw, 3rem);
  --fs-400: clamp(2.5rem, 2rem + 2vw, 4rem);

  --fs-hero: clamp(2.5rem, 1.8rem + 4vw, 6rem);

  --right-panel-size: 320px;
  --left-toolbar-size: 3.5rem;
}

body {
  margin: 0;
  font-size: var(--fs-100);
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, var(--bg-clr-1), #000) no-repeat;
  overflow: hidden;
}

*, *::after, *::before {
  box-sizing: border-box;
  outline: none !important;
  -webkit-user-drag: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

button, h1, h2, h3, h4, h5, h6, p {
  all: unset;
}

button, img {
  user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
  -ms-touch-select: none !important;
  -webkit-user-select: none !important;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  object-fit: cover;
}

/* unselectable */
[no-select="true"], [no-select="true"] * {
  user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
  -ms-touch-select: none !important;
  -webkit-user-select: none !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-clr-2);
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff42;
  border-radius: 1ex;
  transition: background-color 300ms linear
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff8e;
  transition: background-color 300ms linear
}